<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Nova Senha</h1>
        <form id="passwordForm" action="/mudar_senha/{{ token }}" method="post">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="email" value="{{ email }}">
            <div class="form-group">
                <label for="nova_senha">Nova Senha:</label>
                <input type="password" id="nova_senha" name="nova_senha" required>
                <small id="passwordHelpBlock" class="form-text text-muted">A senha deve conter pelo menos 8 caracteres, incluindo letras maiúsculas, minúsculas, números e caracteres especiais.</small>
            </div>
            <div class="form-group">
                <label for="confirmar_senha">Confirmar Senha:</label>
                <input type="password" id="confirmar_senha" name="confirmar_senha" required>
                <small id="confirmPasswordHelpBlock" class="form-text text-muted"></small>
            </div>
            <button type="submit" id="submitBtn" disabled>Atualizar Senha</button>
        </form>
    </div>

    <script src="../static/script.js">
    </script>
</body>
</html>

